<B_evt_lei_jour>
#ANCRE_PAGINATION
<table>
<BOUCLE_evt_lei_jour(LEI_EVENEMENTS)
	{par date_debut}
	{pagination #ENV{nb,5}}
	{nomtype ?}
	{agendafull date_debut, date_fin, jour, #ENV{annee}, #ENV{mois}, #ENV{jour}}>
		<INCLURE{fond=inclure/inc-evenement_lei, id_lei_evenement} />
</BOUCLE_evt_lei_jour>
</table>
<p class='pagination'>#PAGINATION{page}</p>
</B_evt_lei_jour>
