<B_evt_lei_mois>
#ANCRE_PAGINATION
<table>
<BOUCLE_evt_lei_mois(LEI_EVENEMENTS)
	{par date_debut}
	{pagination #ENV{nb,5}}
	{nomtype ?}
	{agendafull date_debut, date_fin, mois, #ENV{annee}, #ENV{mois}}>
		<INCLURE{fond=inclure/inc-evenement_lei, id_lei_evenement} />
</BOUCLE_evt_lei_mois>
</table>
<p class='pagination'>#PAGINATION{page}</p>
</B_evt_lei_mois>
