<BOUCLE_evt_lei(LEI_EVENEMENTS){id_lei_evenement}>
[(#SET{url,[(#URL_PAGE{evenement-lei}
			|parametre_url{id_lei_evenement,#ID_LEI_EVENEMENT}
			|parametre_url{KeepThis,true}
			|parametre_url{TB_iframe,true}
			|parametre_url{height,400}
			|parametre_url{width,600})]})]
<tr class="tr_liste">
	<td width="50">
		<p class="date">[(#DATE_DEBUT|jour)]<br />[(#DATE_DEBUT|mois)]</p>
		[(#DATE_DEBUT|=={#DATE_FIN}|non)<p class="date">[(#DATE_FIN|jour)]<br />[(#DATE_FIN|mois)]</p>]
	</td>
	<td width="150">
		<a class="thickbox" href="#GET{url}">
			[(#CHEMIN{images/agenda/#CODETYPE.jpg}|balise_img)]
		</a>
	</td>
	<td width="445" class="description">
		<h3><a class="thickbox" href="#GET{url}">à #VILLE</a></h3>
		<p><strong>#NOMTYPE</strong><br />#NOM</p>
	</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="3">
		<p class="voir">
			<a class="thickbox" href="#GET{url}">Voir #NOM à #VILLE</a>
		</p>
	</td>
</tr>
</BOUCLE_evt_lei>


