[(#AUTORISER{configurer}|oui)

[(#BOITE_OUVRIR{[(#CHEMIN_IMAGE{agenda_lei_actualiser-24.png}
	|balise_img{'',cadre-icone})],'simple'})]

	<div class='center'>
	[(#BOUTON_ACTION{<:lei:actualiser_agenda:>,
		[(#URL_ACTION_AUTEUR{actualiser_agenda_lei,1,#SELF})]})]
	</div>


	<div class='liste'>
	<h4><:lei:actualiser_derniere_actualisation:></h4>

	<ul class='liste-items'>
		<li class='item'>
			<strong><:lei:info_date:></strong>
			[(#CONFIG{agenda_lei/times/date}|affdate_heure)]
		</li>

		<li class='item'>
			<strong><:lei:info_reussite:></strong>
			[(#CONFIG{agenda_lei/times/reussite}|?{OK,'/!\ NOK /!\'})]
		</li>
		<li class='item'>
			<strong><:lei:info_temps_total:></strong>
			[(#CONFIG{agenda_lei/times/total})s.]
		</li>
		<li class='item'>
			<strong><:lei:info_temps_xml:></strong>
			[(#CONFIG{agenda_lei/times/xml})s.]
		</li>
		<li class='item'>
			<strong><:lei:info_temps_parsage:></strong>
			[(#CONFIG{agenda_lei/times/parsage})s.]
		</li>
		<li class='item'>
			<strong><:lei:info_temps_insertions:></strong>
			[(#CONFIG{agenda_lei/times/insertion})s.]
		</li>
		<li class='item'>
			<strong><:lei:info_nb_item:></strong>
			[(#CONFIG{agenda_lei/times/nb_items})]
		</li>
		<li class='item'>
			<strong><:lei:info_nb_insertions:></strong>
			[(#CONFIG{agenda_lei/times/nb_insertions})]
		</li>
	</ul>
	</div>

#BOITE_FERMER

]
