<BOUCLE_lei_evenement(LEI_EVENEMENTS){id_lei_evenement}>

[<div class="champ contenu_produit[ (#PRODUIT*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_produit:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{produit} produit'>(#PRODUIT)</span>
</div>]

[<div class="champ contenu_nom[ (#NOM*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_nom:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{nom} nom'>(#NOM)</span>
</div>]

[<div class="champ contenu_nomtype[ (#NOMTYPE*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_nomtype:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{nomtype} nomtype'>(#NOMTYPE)</span>
</div>]

[<div class="champ contenu_codetype[ (#CODETYPE*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_codetype:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{codetype} codetype'>(#CODETYPE)</span>
</div>]

[<div class="champ contenu_adresse[ (#ADRESSE*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_adresse:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{adresse} adresse'>(#ADRESSE)</span>
</div>]

[<div class="champ contenu_ville[ (#VILLE*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_ville:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{ville} ville'>(#VILLE)</span>
</div>]

[<div class="champ contenu_com1[ (#COM1*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_com1:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{com1} com1'>(#COM1)</span>
</div>]

[<div class="champ contenu_com2[ (#COM2*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_com2:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{com2} com2'>(#COM2)</span>
</div>]

[<div class="champ contenu_civilite[ (#CIVILITE*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_civilite:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{civilite} civilite'>(#CIVILITE)</span>
</div>]

[<div class="champ contenu_nomcontact[ (#NOMCONTACT*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_nomcontact:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{nomcontact} nomcontact'>(#NOMCONTACT)</span>
</div>]

[<div class="champ contenu_prenomcontact[ (#PRENOMCONTACT*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_prenomcontact:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{prenomcontact} prenomcontact'>(#PRENOMCONTACT)</span>
</div>]

[<div class="champ contenu_telcontact[ (#TELCONTACT*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_telcontact:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{telcontact} telcontact'>(#TELCONTACT)</span>
</div>]

[<div class="champ contenu_faxcontact[ (#FAXCONTACT*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_faxcontact:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{faxcontact} faxcontact'>(#FAXCONTACT)</span>
</div>]

[<div class="champ contenu_melcontact[ (#MELCONTACT*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_melcontact:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{melcontact} melcontact'>(#MELCONTACT)</span>
</div>]

[<div class="champ contenu_urlcontact[ (#URLCONTACT*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_urlcontact:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{urlcontact} urlcontact'>(#URLCONTACT)</span>
</div>]

[<div class="champ contenu_rdv[ (#RDV*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_rdv:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{rdv} rdv'>(#RDV)</span>
</div>]

[<div class="champ contenu_jour[ (#JOUR*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_jour:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{jour} jour'>(#JOUR)</span>
</div>]

[<div class="champ contenu_horaires[ (#HORAIRES*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_horaires:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{horaires} horaires'>(#HORAIRES)</span>
</div>]

[<div class="champ contenu_specif[ (#SPECIF*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_specif:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{specif} specif'>(#SPECIF)</span>
</div>]

[<div class="champ contenu_groupe[ (#GROUPE*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_groupe:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{groupe} groupe'>(#GROUPE)</span>
</div>]

[<div class="champ contenu_handicap[ (#HANDICAP*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_handicap:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{handicap} handicap'>(#HANDICAP)</span>
</div>]

[<div class="champ contenu_autocar[ (#AUTOCAR*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_autocar:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{autocar} autocar'>(#AUTOCAR)</span>
</div>]

[<div class="champ contenu_parking[ (#PARKING*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_parking:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{parking} parking'>(#PARKING)</span>
</div>]

[<div class="champ contenu_resto1[ (#RESTO1*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_resto1:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{resto1} resto1'>(#RESTO1)</span>
</div>]

[<div class="champ contenu_resto2[ (#RESTO2*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_resto2:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{resto2} resto2'>(#RESTO2)</span>
</div>]

[<div class="champ contenu_capacite[ (#CAPACITE*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_capacite:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{capacite} capacite'>(#CAPACITE)</span>
</div>]

[<div class="champ contenu_animaux[ (#ANIMAUX*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_animaux:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{animaux} animaux'>(#ANIMAUX)</span>
</div>]

[<div class="champ contenu_langues[ (#LANGUES*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_langues:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{langues} langues'>(#LANGUES)</span>
</div>]

[<div class="champ contenu_gratuit[ (#GRATUIT*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_gratuit:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{gratuit} gratuit'>(#GRATUIT)</span>
</div>]

[<div class="champ contenu_tarifs[ (#TARIFS*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_tarifs:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{tarifs} tarifs'>(#TARIFS)</span>
</div>]

[<div class="champ contenu_paiement[ (#PAIEMENT*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_paiement:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{paiement} paiement'>(#PAIEMENT)</span>
</div>]

[<div class="champ contenu_cc[ (#CC*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_cc:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{cc} cc'>(#CC)</span>
</div>]

[<div class="champ contenu_sectgeo[ (#SECTGEO*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_sectgeo:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{sectgeo} sectgeo'>(#SECTGEO)</span>
</div>]

[<div class="champ contenu_distances[ (#DISTANCES*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_distances:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{distances} distances'>(#DISTANCES)</span>
</div>]

[<div class="champ contenu_visiteguide[ (#VISITEGUIDE*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_visiteguide:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{visiteguide} visiteguide'>(#VISITEGUIDE)</span>
</div>]

[<div class="champ contenu_duree[ (#DUREE*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_duree:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{duree} duree'>(#DUREE)</span>
</div>]

[<div class="champ contenu_sncf[ (#SNCF*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_sncf:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{sncf} sncf'>(#SNCF)</span>
</div>]

[<div class="champ contenu_animations[ (#ANIMATIONS*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_animations:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{animations} animations'>(#ANIMATIONS)</span>
</div>]

[<div class="champ contenu_agrements[ (#AGREMENTS*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_agrements:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{agrements} agrements'>(#AGREMENTS)</span>
</div>]

[<div class="champ contenu_visitepayante[ (#VISITEPAYANTE*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_visitepayante:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{visitepayante} visitepayante'>(#VISITEPAYANTE)</span>
</div>]

[<div class="champ contenu_encadrement[ (#ENCADREMENT*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_encadrement:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{encadrement} encadrement'>(#ENCADREMENT)</span>
</div>]

[<div class="champ contenu_rando[ (#RANDO*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_rando:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{rando} rando'>(#RANDO)</span>
</div>]

[<div class="champ contenu_date_debut[ (#DATE_DEBUT*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_date_debut:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{date_debut} date_debut'>(#DATE_DEBUT)</span>
</div>]

[<div class="champ contenu_date_fin[ (#DATE_FIN*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_date_fin:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{date_fin} date_fin'>(#DATE_FIN)</span>
</div>]

[<div class="champ contenu_image[ (#IMAGE*|strlen|?{'',vide})]">
	<label><:lei_evenement:label_image:> : </label>
	<span dir='#LANG_DIR' class='#EDIT{image} image'>(#IMAGE)</span>
</div>]

</BOUCLE_lei_evenement>
