[(#SET{defaut_tri,#ARRAY{
	date_debut,1,
	nom,1,
	id_lei_manifestation,1
}})][(#SET{date,#ENV{archives}
	|affdate{'Y-m-d 00:00:00'}})
]<B_liste_lei_evenements>
#ANCRE_PAGINATION
<div class="liste-objets lei_evenements">
<table class='spip liste'>
	[<caption><strong class="caption">(#ENV*{titre,#GRAND_TOTAL|singulier_ou_pluriel{lei_evenement:info_1_lei_evenement,lei_evenement:info_nb_lei_evenements}})</strong></caption>]
	<thead>
		<tr class='first_row'>
			<th class='picto' scope='col'></th>
			<th class='nom' scope='col'>[(#TRI{nom,<:lei_evenement:label_nom:>,ajax})]</th>
			<th class="date_debut">[(#TRI{date_debut,<:lei_evenement:label_date_debut:>,ajax})]</th>
			<th class="date_fin">[(#TRI{date_fin,<:lei_evenement:label_date_fin:>,ajax})]</th>
			<th class='id' scope='col'>[(#TRI{id_lei_evenement,<:info_numero_abbreviation:>,ajax})]</th>
		</tr>
	</thead>
	<tbody>
	<BOUCLE_liste_lei_evenements(LEI_EVENEMENTS)
		{tri #ENV{order,date_debut},#GET{defaut_tri}}
		{pagination #ENV{nb,10}}
		{evenement_en_cours #GET{date}}>
		<tr class='[(#COMPTEUR_BOUCLE|alterner{row_odd,row_even})]'>
			<td class='picto'>[(#CHEMIN_IMAGE{lei_evenement-16.png}|balise_img)]</td>
			<td class='nom principale'>[(#LOGO_LEI_EVENEMENT|image_reduire{20,26})]<a href="[(#ID_LEI_EVENEMENT|generer_url_entite{lei_evenement})]" title="<:info_numero_abbreviation|attribut_html:> #ID_LEI_EVENEMENT">[(#RANG). ]#NOM</a></td>
			<td class="date_debut">[(#DATE_DEBUT|affdate_court)]</td>
			<td class="date_fin">[(#DATE_FIN|affdate_court)]</td>
			<td class='id'>#ID_LEI_EVENEMENT</td>
		</tr>
	</BOUCLE_liste_lei_evenements>
	</tbody>
</table>
[<p class='pagination'>(#PAGINATION{prive})</p>]
</div>
</B_liste_lei_evenements>[
<div class="liste-objets lei_evenements caption-wrap"><strong class="caption">(#ENV*{sinon,''})</strong></div>
]<//B_liste_lei_evenements>
