<!-- hierarchie -->
<a href="#URL_ECRIRE{lei_evenements}"><:lei_evenement:titre_lei_evenements:></a>
<BOUCLE_evt_lei(LEI_EVENEMENTS){id_lei_evenement}>
&gt; <strong class="on">#NOM</strong>
</BOUCLE_evt_lei>
