<select name="#ENV{nom}" id="champ_#ENV{nom}"[ class="(#ENV{class})"][ readonly="(#ENV{readonly})"]>
	[(#ENV{cacher_option_intro}|non)
		<option value="">[(#ENV{option_intro})]</option>]
	<BOUCLE_types_evt_lei(LEI_EVENEMENTS){fusion nomtype}{par nomtype}>
		<option value="#NOMTYPE"[(#NOMTYPE|=={#ENV{valeur,#ENV{defaut}}}|oui) selected="selected"]>#NOMTYPE</option>
	</BOUCLE_types_evt_lei>
</select>
