
<h1 class="grostitre"><:lei_evenement:titre_lei_evenements:></h1>
<p><:lei:agenda_lei_introduction:></p>

[<em>(#ENV{archives,#DATE}|affdate)</em>]

<div class="nettoyeur"></div>

<INCLURE{fond=prive/objets/liste/lei_evenements_calendrier,env, ajax,
	archives=#ENV{archives,#DATE}} />



<h2 class='h2'><:lei:periode:></h2>


<div class='formulaire_spip formulaire_lei_evenements_dates'>
<form action='#SELF' method='GET'><div>
	[(#SELF|form_hidden)]
	<ul>
	[(#SAISIE{input, date_debut, label=<:lei:label_date_debut:>, class=date, placeholder=<:lei:label_date_debut:>})]
	[(#SAISIE{input, date_fin, label=<:lei:label_date_fin:>, class=date})]
	</ul>
	<p class='boutons'>
		<input type='submit' value='Chercher' />
	</p>
</div></form>
</div>
[(#INCLURE{fond=formulaires/dateur/inc-dateur})]

<INCLURE{fond=prive/objets/liste/lei_evenements, env, ajax,
	sinon=<:lei_evenement:info_aucun_lei_evenement:>} />

